<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proprog.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllSongsActivity"
            android:label="@string/all_songs_string"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="parentActivityName"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GenresActivity"
            android:label="@string/genres_string"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="parentActivityName"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AlbumsActivity"
            android:label="@string/albums_string"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="parentActivityName"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/favorite_string"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="parentActivityName"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UpgradeActivity"
            android:label="@string/upgrade_string"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="parentActivityName"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>